.roadmap #line {
  background: linear-gradient(
    270deg,
    rgba(249, 137, 142, 0.18) 0%,
    #f9898e 100%
  );
}
.roadmap .item .content {
  background: linear-gradient(
    90deg,
    rgba(168, 255, 120, 0.1) 0%,
    rgba(168, 255, 120, 0) 100%
  );
}

.roadmap .item .cursor {
  margin-top: max(10%, 40px);
}

.roadmap .item .cursor .dot {
  transform: rotate(45deg);
}

.roadmap .item .content {
  backdrop-filter: blur(25px);
}
.roadmap .item .content ul li:not(:first-of-type) {
  margin-top: 5px;
}

@media screen and (min-width: 768px) {
  .roadmap .item:nth-child(2) {
    margin-top: 100px;
  }
  .roadmap .item.left .content {
    background: linear-gradient(
      90deg,
      rgba(168, 255, 120, 0) 0%,
      rgba(168, 255, 120, 0.1) 100%
    );
    text-align: right;
  }
  .roadmap .item.right .content {
    background: linear-gradient(
      90deg,
      rgba(168, 255, 120, 0.1) 0%,
      rgba(168, 255, 120, 0) 100%
    );
  }
}
@media screen and (max-width: 767px) {
  .roadmap .item .cursor {
    margin-top: max(10%, 30px);
  }
  .roadmap .item:nth-child(2) {
    margin-top: 0px;
  }
  .roadmap .item:last-of-type {
    margin-bottom: 0px;
  }
  .roadmap .item.left .content {
    text-align: left;
    background: linear-gradient(
      90deg,
      rgba(168, 255, 120, 0.1) 0%,
      rgba(168, 255, 120, 0) 100%
    );
  }
}